extends layout 

block content 
    section 
        form(action="" method='POST')
            button(class='bg-sky-600 hover:bg-sky-800 px-4 py-2 rounded-md font-medium text-white' type='submit') Delete Message?