extends layout

block content
    section
        each message in messages
                div(class='relative p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex flex-col gap-2 hover:bg-slate-400/[.1] my-5')
                    if  currentUser!==undefined && currentUser.admin===true
                        a(class='absolute right-2 top-2' href='/delete-message/' + message.id)
                            svg(xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor")
                                path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12")
                    div(class='flex justify-between') 
                        p(class='font-medium text-gray-500') !{(currentUser===undefined || currentUser.member===false) ? 'Anon' : message.user.email.substring(0, message.user.email.indexOf('@'))} 
                        p(class='font-small text-gray-500') !{(currentUser===undefined || currentUser.member===false) ? 'Unknown' : message.timestamp_formatted}
                    div(class='text-xl font-medium text-black flex justify-center') !{message.title} 
                    div(class='flex items-center space-x-4')
                        div(class='shrink-0') 
                            svg(xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor")
                                path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z")
                        p(class='text-gray-500') !{message.text}